server:
  port: 8080

spring:
  profiles:
    active: local

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

  thymeleaf:
    cache: false

  security:
    oauth2:
      client:
        registration:
          google:
            user-name-attribute: sub
            scope:
              - profile
              - email
              - https://www.googleapis.com/auth/calendar.events
          kakao:
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope: [profile_nickname, account_email]
            client-authentication-method: client_secret_post
            client-name: Kakao
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: sub
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

logging:
  level:
    com.dialog.security.jwt: DEBUG
    com.dialog.security.oauth2: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    
# OAuth2 리다이렉트 URI 설정
#app:
  #oauth2:
    #fail-uri: http://localhost:8080/login?error=true
    #success-uri: http://localhost:8080/dashboard
    #redirect-uri: http://localhost:8080/oauth2/redirect